.container {
  height: 40px;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  font-size: 12pt;
  padding: 0 20px;
  cursor: pointer;

  &.blue {
    $color: #2d88ff;
    background-color: rgba($color, 0.2);
    color: $color;
    transition: 450ms ease-out;

    &:hover {
      transition: 350ms ease-in;
      background-color: rgba(#ff748b, 0.2);
      color: #ff748b;
    }
  }

  &.green {
    $color: #08b63c;
    background-color: rgba($color, 0.2);
    color: $color;
    transition: 450ms ease-out;
  }

  &.red {
    $color: #e02a2a;
    background-color: rgba($color, 0.2);
    color: $color;
    transition: 450ms ease-out;
  }

  &.red-full {
    $color: #e93232;
    background-color: $color;
    color: white;
    transition: 450ms ease-out;
  }

  &:hover {
    animation: moving infinite 1s linear;
  }
}

@keyframes moving {
  0%,
  100% {
    transform: rotate(-1deg);
  }
  50% {
    transform: rotate(1deg);
  }
}
