.container {
  background-color: white;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 2px 2px 12px 0px #00000018;
  display: flex;
  flex-direction: column;
  gap: 12px;
  cursor: pointer;

  img {
    width: 100%;
    object-fit: cover;
  }

  p {
    font-size: 12pt;
    font-weight: 600;
    color: #222;
    text-align: center;
  }
}
